<!DOCTYPE html>
<html>
<head>
    <title>Employee Attrition Prediction</title>
</head>
<body>

<h2>Employee Attrition Prediction</h2>

<form method="POST" action="/predict">

<input type="number" name="Age" placeholder="Age" required><br><br>
<input type="number" name="DailyRate" placeholder="Daily Rate" required><br><br>
<input type="number" name="DistanceFromHome" placeholder="Distance From Home" required><br><br>
<input type="number" name="Education" placeholder="Education" required><br><br>
<input type="number" name="JobLevel" placeholder="Job Level" required><br><br>
<input type="number" name="MonthlyIncome" placeholder="Monthly Income" required><br><br>
<input type="number" name="NumCompaniesWorked" placeholder="Companies Worked" required><br><br>
<input type="number" name="PercentSalaryHike" placeholder="Salary Hike %" required><br><br>
<input type="number" name="PerformanceRating" placeholder="Performance Rating" required><br><br>
<input type="number" name="StockOptionLevel" placeholder="Stock Option Level" required><br><br>
<input type="number" name="TotalWorkingYears" placeholder="Total Working Years" required><br><br>
<input type="number" name="TrainingTimesLastYear" placeholder="Training Times Last Year" required><br><br>
<input type="number" name="WorkLifeBalance" placeholder="Work Life Balance" required><br><br>
<input type="number" name="YearsAtCompany" placeholder="Years At Company" required><br><br>
<input type="number" name="YearsInCurrentRole" placeholder="Years In Current Role" required><br><br>
<input type="number" name="YearsSinceLastPromotion" placeholder="Years Since Last Promotion" required><br><br>
<input type="number" name="YearsWithCurrManager" placeholder="Years With Current Manager" required><br><br>

<input type="text" name="BusinessTravel" placeholder="e.g. NoTravel / Frequently / Rarely" required><br><br>
<input type="text" name="Department" placeholder="Department" required><br><br>
<input type="text" name="EducationField" placeholder="Education Field" required><br><br>
<input type="text" name="Gender" placeholder="Gender" required><br><br>
<input type="text" name="JobRole" placeholder="Job Role" required><br><br>
<input type="text" name="MaritalStatus" placeholder="Marital Status" required><br><br>
<input type="text" name="OverTime" placeholder="Yes / No" required><br><br>

<button type="submit">Predict</button>

</form>

</body>
</html>
